@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--cream-bg, #F2EAE2);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
  display: flex;
  padding: 28px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 10px;
  background: var(--Pure-White, #FFF);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card__product-image {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.card__product-title>h2,
.card__product-price {
  font-family: 'Fraunces', serif;
  font-weight: 700;
}

.card__product-title>p {
  font-size: 0.75rem;
  line-height: normal;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}

.card__product-title>h2 {
  font-size: 2rem;
  line-height: 2rem; /* 100% */
}

.card__product-description {
  font-size: 0.875rem;
  line-height: 1.4375rem; /* 164.286% */
}

.card__product-price {
  font-size: 2rem;
  line-height: 2rem; /* 100% */
}

.card__product-price-old {
  font-size: 0.8125rem;
  line-height: 1.4375rem; /* 176.923% */
  text-decoration-line: line-through;
}

.card__add-to-cart-button {
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 700;
}