@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
  /* primary colors */
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-cyan-hover: hsl(157, 43%, 18%);
  --cream: hsl(30, 38%, 92%);

  /* neutral colors */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

p, h2 {
  margin: 0;
}

body {
  margin: 0;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--cream, #F2EAE2);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.875rem;
}

main {
  display: flex;
  justify-content: center;
}

.card {
  overflow: hidden;
  max-width: 24rem; /* 
    why this number?
    is it 31.5px (left padding) + 321px (width) + 31.5px (right padding)
    = 384px = 24rem at 599px viewport width?
    does this calculation account for box-sizing: border-box; on line 15?
    but do i really need it if there is a media query on 600px and layout changes anyway?
  */
  margin: 28px 16px;
  border-radius: 10px;
  background: var(--white, #FFF);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card__product-image {
  max-width: 100%;
  display: block;
  /* should i always set display: block for imgs?
      i notice that without this property the card gets 4 extra px in height
  */
  object-fit: cover;
  
  @media (min-width: 37.5rem) {
    /* why is this property below necessary?
        i didn't notice a difference with or without it
    */
    height: 100%;
  }
}

.card__body {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  padding: 20px 24px 24px;

  @media (min-width: 23.5rem) {
    padding: 32px 31.5px;
  }
}

.card__product-title > p {
  color: var(--dark-grayish-blue, #6C7289);
  font-size: 0.75rem;
  line-height: normal;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}

.card__product-title > h2 {
  margin-top: 13px;
  margin-bottom: 16px;
  color: var(--very-dark-blue, #1C232B);
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem; /* 100% */

  @media (min-width: 37.5rem) {
    margin-top: 22px;
    margin-bottom: 24px;  
  }
}

.card__product-description {
  margin-bottom: 24px;
  color: var(--dark-grayish-blue, #6C7289);
  font-size: 0.875rem;
  line-height: 1.4375rem; /* 164.286% */

  @media (min-width: 37.5rem) {
    margin-bottom: 29px;
  }
}

.card__product-price-wrapper {
  display: flex;
  align-items: center;
  gap: 19px;
  flex-wrap: wrap;
}

.card__product-price {
  color: var(--dark-cyan, #3D8168);
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem; /* 100% */
}

.card__product-price-old {
  color: var(--dark-grayish-blue, #6C7289);
  font-size: 0.8125rem;
  line-height: 1.4375rem; /* 176.923% */
  text-decoration-line: line-through;
}

.card__add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11.61px;
  /* height: 48px; */
  margin-top: 19px;
  border-style: none;
  border-radius: 8px;
  padding: 15px 0px 13px;
  background-color: var(--dark-cyan, #3D8168);;
  color: var(--white, #FFF);
  font-size: 0.875rem;
  font-weight: 700;

  @media (min-width: 37.5rem) {
    margin-top: 27px;
  }
}

.card__add-to-cart-button:hover {
  background: var(--dark-cyan-hover, #1A4032);
}

.card__add-to-cart-button::before {
  content: url(../images/icon-cart.svg);
}

@media (min-width: 37.5rem) {
  .card {
    display: flex;
    /* max-width: 600px; */
    max-width: 40rem;
    /* why this number?
      the desktop card in figma design is 37.5rem or 600px
      but the card's width is 640px now and there are extra 40px in the right half of the card
    */
  }

  picture {
    max-width: 300px;
    flex: 1 1 50%;
    /* is there a reason for setting flex-grow as 1 in this particular case? */
  }
}